UnitTests/TestFiles/GameManager/GameManagerConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GameManagerConfig" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GameManagerConfig">
    <xs:complexType>
      <xs:all>
        <!-- Directory to find games -->
        <xs:element name="GameDirectory" type="xs:string" />
        <!-- Name of Game Info Config File -->
        <xs:element name="GameInfoConfig" type="xs:string" />

      </xs:all>
    </xs:complexType>     
  </xs:element>  
</xs:schema>
